.about {
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    padding-top: 25px;
}

.about-left {
    flex-basis: 40%;
    position: relative;
}

.about-right {
    flex-basis: 56%;
}

.about-img {
    width: 65%;
    border-radius: 10px;
}

.about h3 {
    font-weight: 600;
    font-size: 20px;
    color: #eb3434;
    text-transform: uppercase;
}

.about h2 {
    font-size: 35px;
    color: #000F38;
    margin: 10px 0;
    max-width: 400px;
}

.about p {
    color: #676767;
    margin-bottom: 15px;
    font-size: 20px;
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
    .about {
        flex-direction: column; /* Apilar los elementos verticalmente */
        align-items: center;
    }

    .about-left {
        order: 2; /* La imagen se muestra después del texto */
        flex-basis: 100%; /* Ocupa el 100% del ancho */
        text-align: center;
        margin-top: 20px; /* Añadir espacio entre el texto y la imagen */
    }

    .about-right {
        order: 1; /* El texto se muestra primero */
        flex-basis: 100%; /* Ocupa el 100% del ancho */
        text-align: center;
    }

    .about-img {
        width: 80%; /* Ajustar el tamaño de la imagen en pantallas pequeñas */
    }

    .about h2 {
        font-size: 30px; /* Ajustar el tamaño del título */
    }

    .about p {
        font-size: 18px; /* Reducir el tamaño del texto en pantallas pequeñas */
    }
}

/* Media query para pantallas muy pequeñas (menores a 480px) */
@media (max-width: 480px) {
    .about-img {
        width: 60%; /* La imagen ocupa todo el ancho en pantallas muy pequeñas */
    }

    .about h2 {
        font-size: 28px; /* Reducir aún más el tamaño del título */
    }

    .about p {
        font-size: 16px; /* Ajustar el tamaño del texto */
    }
}
