.carousel {
  display: flex;
  overflow: hidden;
  position: relative;
  background-color: #f5f5f5;
  padding: 20px 0;
}

.carousel-track {
  display: flex;
  animation: scroll 30s linear infinite;
  will-change: transform;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}


.carousel-item {
  flex: 0 0 auto;
  padding: 0 15px;
  transition: transform 0.3s ease-in-out;
}

.carousel-item img {
  width: 150px;
  height: 90px; /* Ajusta la altura según sea necesario */
  object-fit: contain; /* Esto mantendrá la proporción de la imagen y la ajustará al contenedor */
  filter: grayscale(100%);
  transition: filter 0.3s ease-in-out;
}

.carousel-item.hovered img {
  filter: grayscale(0%);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
