.footer {
    width: 100%;
    background-color: #202020;
}

.footer .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas por defecto */
    grid-gap: 50px;
    padding: 45px 0px;
}

.footer .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .grupo-1 .box figure img {
    width: 250px;
}

.footer .grupo-1 .box h2 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.footer .grupo-1 .box p {
    color: #efefef;
    margin-bottom: 10px;
}

.footer .grupo-1 .redes-sociales a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}

.footer .grupo-1 .redes-sociales a:hover {
    color: #eb3434;;
}

.grupo-2 {
    background-color: #202020;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
    font-size: 15px;
}

/* Media query corregida y ajustada */
@media (max-width: 800px) {
    .footer .grupo-1 {
        grid-template-columns: 1fr; /* Apilar en una columna */
        grid-gap: 30px;
        padding: 35px 0px;
    }

    .logo_footer img {
        width: 150px; /* Ajustar el tamaño del logo en pantallas pequeñas */
    }

    .footer .grupo-1 .box {
        text-align: center; /* Centrar el contenido de las cajas para mejor visualización en pantallas pequeñas */
    }
}
